<div class="clr-row">
  <div class="clr-col-4">
    <span class="label label-purple">Sports Articles</span>
  </div>

  <div class="clr-col-6">
    <span class="label label-info">Currently reading {{ selectedCountry.toUpperCase() }} sports articles</span>
  </div>
  <br/> <br/>

  <div class="clr-col">
    <div class="clr-select-wrapper float-lg-right">
      <label>Country:</label>
      <select clrSelect name="countries" [(ngModel)]="selectedCountry" (ngModelChange)="changeCountryNews($event)">
        <option *ngFor="let country of countries"> {{ country }}</option>
      </select>
    </div>
  </div>

</div>


<!--<div class="clickable card">-->
  <!--<div class="card-block">-->
    <!--<div class="alert alert-warning alert-sm">-->
      <!--<button type="button" class="close" aria-label="Close">-->
        <!--<clr-icon aria-hidden="true" shape="close"></clr-icon>-->
      <!--</button>-->
      <!--<div class="alert-item static">-->
                <!--<span class="alert-text">-->
                    <!--Use small alerts in a card.-->
                <!--</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="card-media-block wrap">-->
      <!--<img class="card-media-image" src="http://placehold.it/60x60" />-->
      <!--<div class="card-media-description">-->
        <!--<span class="card-media-title">Project B</span>-->
        <!--<span class="card-media-text">Owner: Jane Doe</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<p class="card-text">-->
      <!--...-->
    <!--</p>-->
  <!--</div>-->
  <!--<div class="card-footer">-->
    <!--<a class="card-link">Button One</a>-->
    <!--<a class="card-link">Button Two</a>-->
  <!--</div>-->
<!--</div>-->
