<div class="clr-row">
  <div class="clr-col-4">
    <span class="label label-blue">General News</span>
  </div>

  <div class="clr-col-6">
    <span [hidden]="isInfoModalHidden" class="label label-info">Currently reading {{selectedCountry.toUpperCase()}} articles.</span>
  </div>

  <br/> <br/>
  <div class="clr-col">
    <div class="clr-select-wrapper float-lg-right">
      <label>Country: </label>
      <select clrSelect name="countries" [(ngModel)]="selectedCountry" (ngModelChange)="changeCountryNews($event)">
        <option *ngFor="let country of countries">{{country}}</option>
      </select>
    </div>
  </div>
</div>

<div class="container clr-row">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" *ngFor="let n of newsResponse.body; index as i">

    <div class="card clickable">
      <div class="container" align="center">
        <i class="far fa-newspaper"></i>
      </div>
      <div class="card-block">
        <div class="card-header">
          <h1 class="card-title">{{n.webTitle}}</h1>
          <div class="card-img">
            <img src="{{n.fields.thumbnail}}">
          </div>
        </div>
        <div class="card-footer">
          <div class="card-media-block">
            <div class="card-media-description">
              <strong>Author</strong><span class="card-media-text">{{n.fields.byline}}</span>
              <strong>Publication date</strong><span class="card-media-text">{{n.webPublicationDate}}</span>
              <strong>Type</strong><span class="card-media-text">{{n.type}}</span>
            </div>
          </div>
        </div>

        <div class="container" align="center">
          <div class="btn-group btn-outline-primary">
            <button class="btn btn-sm" (click)="showModal(newsResponse.body[i])">Read article</button>
            <button class="btn btn-sm" (click)="goToNewsSite(n.webUrl)">Go to site</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<clr-modal [(clrModalOpen)]="basic" >
  <h3 class="modal-title">{{newsArticleInModal.webTitle}}</h3>
  <div class="modal-body">
    <p>{{newsArticleInModal.bodyText}}</p>
  </div>
</clr-modal>

<br/><br/>
<div class="container" align="center">
  <button class="btn btn-outline-success" (click)="incrementNewsOnPage()"> More articles</button>
</div>

